* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: sans-serif;
  height: 1000px;
}
.container {
  width: 100%;
  max-width: 100%;
}
h3 {
  color: rgb(241, 158, 50);
}
h1 {
  color: rgb(241, 158, 50);
}
.top-address span {
  color: rgb(241, 158, 50);
}
.sub-container {
  width: 80%;
  margin: 0 auto;
}
.haveq1 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  width: 85%;
}
.haveq1 span {
  text-align: right;
  padding: 20px 20px 0 0;
  vertical-align: bottom;
}
.have-h1 {
  min-width: 50%;
  margin: 0px;
}

/* Contact page */

.address img {
  width: 30px;
}
.contact-page {
  display: flex;
  margin-top: 40px;
}
.contact-address {
  width: 50%;
  
}
.shadow {
  box-shadow: -0.5px 0.1px 5px rgb(167, 166, 166),
    0.2px -0.1px 5px rgb(167, 166, 166);
  margin: 0 auto;
  padding: 50px;
  border-top-right-radius: 40px;
  border-bottom: 5px solid rgb(241, 158, 50);
}
h3 {
  margin: 0;
}
.address {
  display: flex;
  border-bottom: 0.2px solid rgb(172, 169, 169);
  width: 75%;
  margin-bottom: 10px;
  padding: 5px;
}
.address span {
  display: block;
  /* min-width: 100%; */
}
.address-full {
  padding: 5px 10px;
}

.details-input {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  border: 0.5px solid rgb(241, 158, 50);
  border-radius: 5px;
  padding: 15px;
  height: auto;
  max-width: 100%;
  min-width: 100%;
  display: block;
}
.label-button {
  width: 100%;
  height: 50px;
  border-radius: 50px;
  border: 0.5px solid rgb(241, 158, 50);
  background-color: rgb(241, 120, 40);
  font-size: 15px;
}
.label-side span{
    color: red;
}
.whatss-app{
    position:fixed;
    right: 50px;
    bottom: 50px;
}
.whatss-app img{
 width: 100px;  
}